DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=Qwer1234!
DB_NAME=bike_predict_db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=overblac1@gmail.com
SMTP_PASSWORD=rugq gmmm hdkz hacs
FROM_NAME=ttareung
APP_BASE_URL=http://localhost:8000

